
<div class="container">
	<div class="homepage">
		<a href="http://imgur.com/AzDIEh3"><img src="http://i.imgur.com/AzDIEh3.jpg" class="gears"/></a>
		<h1>EnGauge</h1>
		<h2>Track Student Engagement in Real Time!</h2>
	</div>
	<div class="explain">
		<div class="row">
			<div class="col-md-4">
				<h3>What Is It?</h3>
				<h5>Engauge is a feedback loop for teachers to track student comprehension during and after class. </h5>
			</div>
			<div class="col-md-4">
				<h3>How Does It Work?</h3>
				<h5><ol>
					<li>Teacher distributes unique link</li>
					<li>Students report understanding with one click</li>
					<li>Teacher sees updates instantly</li>
			</div>
			<div class="col-md-4"></div>
				<h3><button class="btn btn-info">Watch a 60 Second Video</button></h3>
				<h5>Or don't.</h5>
			</div>
		</div>
	</div>



	<div id="b"></div>
		<script src='https://www.teachingchannel.org/videos/getting-instant-student-feedback/embed?format=js' type='text/javascript'>document.write(embedBody);

</script>
	

	<div class="signup_button">
		<% unless user_signed_in? %>
			 <a href="<%=new_user_registration_url%>" ><button class="btn btn-primary">Sign Up</button></a>
		<% end %>
	</div>