
<div class="container">
	<div class="homepage">
		<a href="http://imgur.com/AzDIEh3"><img src="http://i.imgur.com/AzDIEh3.jpg" class="gears"/></a>
		<h1><span style="color: #ED3300;">En</span>Gauge</h1>
		<h2>Track Student Engagement in Real Time!</h2>
	</div>
	<div class="explain">
		<div class="row">
			<div class="col-md-4">
				<h3>What Is It?</h3>
				<h5>Engauge is a feedback loop for teachers to track student comprehension during and after class. </h5>
			</div>
			<div class="col-md-4">
				<br>
				<h3>Quick and Easy Feedback For Teachers</h3>
			</div>
			<div class="col-md-4">
				<h3>How Does It Work?</h3>
				<h5>
					<ol>
						<li>Teacher distributes unique link</li>
						<li>Students report understanding with one click</li>
						<li>Teacher sees updates instantly</li>
					</ol>
				</h5>
			</div>
		</div>
	</div>