
	<% if notice %>
	  <p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
	  <p class="alert alert-danger"><%= alert %></p>
	<% end %>
<div class="container">
	<h1>Lessons</h1>

<!-- Modal for later -->
<!-- <button class="btn btn-info" data-toggle="modal" data-target=".bs-example-modal-lg"> Create New Lesson</button>
 --><!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->
<span ng-init="hide_form = true">
	<button id="addLessonButton" class="btn btn-info" ng-click="hide_form = !hide_form"> Create New Lesson</button>
</span>

	<span ng-hide="hide_form">
		<form ng-submit="addLesson()" id="addLessonForm">
			<input type="text" ng-model="newLesson.name" class="form" placeholder="Lesson Name"></p>
			<input type="date" ng-model="newLesson.date" class="form" placeholder="Date of Lesson"></p>
			Expiration (optional): <br>
			<input type="datetime-local" ng-model="newLesson.expiration" class="form"></p>
			# Scores Allowed Per Hour<br>
				<select name="limit" ng-model="newLesson.limit">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="6">6</option>
					<option value="12">12</option>
					<option value="limitnone">no limit</option>
				</select></p>
				<span ng-click="hide_form = !hide_form"><button class="btn btn-primary">Save Lesson</button></span>
		</form>
	</span>

		<h2>Past Lessons</h2>
			<table>
				<tr ng-repeat="lesson in lessons" class="lessons_list">
					<td><a href="/lessons/{{lesson.id}}">{{lesson.name}}</a></td>
					<td><button class="btn btn-sml btn-danger" ng-click="deleteLesson()" >Delete</button></td>
				</tr>
			</table>
</div>