engauge_templates/index.html.erb

<h1>Lessons</h1>


<h2>Create a New Lesson</h2>

	<form ng-submit="addLesson()">
		Lesson Name:
		<input type="text" ng-model="newLesson.name"></p>
		Lesson Date:
		<input type="date" ng-model="newLesson.date"></p>
		Expiration Date and Time (optional):
		<input type="datetime-local" ng-model="newLesson.expiration"></p>
		# Scores Allowed Per Hour
			<select name="limit" ng-model="newLesson.limit">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="6">6</option>
				<option value="12">12</option>
				<option value="limitnone">no limit</option>
			</select></p>
			<button>Save Lesson</button>
	</form>

	<h2>Past Lessons</h2>
		<ul ng-repeat="lesson in lessons">
		<!-- edit form goes here!! toggle show on and off! -->
			<li>
				<a href="/lessons/{{lesson.id}}">{{lesson.name}}</a>
				<button ng-click="deleteLesson()">Delete</button>
			</li>
		</ul>