
	<% if notice %>
	  <p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
	  <p class="alert alert-danger"><%= alert %></p>
	<% end %>

<div class="row">
		<div class="col-xs-12 col-md-4">
			<span ng-init="hide_form = true">
				<button id="addLessonButton" class="btn btn-info" ng-click="hide_form = !hide_form"> Create New Lesson</button>
			</span>
		</div>
		<div class="col-md-8"></div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<span ng-hide="hide_form">
				<form ng-submit="addLesson()" class="addLessonForm">
					<em>Expiration and Limit fields are optional</em><br>
					<input type="text" ng-model="newLesson.name" class="form" placeholder="Lesson Name">
					<input type="date" ng-model="newLesson.date" class="form" placeholder="Date of Lesson">
					   Expiration:
					<input type="date" ng-model="newLesson.expiration" class="form">
					Limit Per Hour
						<select name="limit" ng-model="newLesson.limit">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="6">6</option>
							<option value="12">12</option>
							<option value="limitnone">no limit</option>
						</select>
					<span ng-click="hide_form = !hide_form"><button id="saveLessonButton" class="btn btn-primary">Save Lesson</button></span>
				</form>
			</span>
		</div>
	</div>


	<div class="row">
		<div class="col-md-4" id="lessons_list">
			<div class="row">
				<div class="col-xs-12">
					<h2 id="past_lessons_h2">Past Lessons</h2>
				</div>
			</div>
			<div class="row">
				<div class="scrollTable">
				<div class="col-xs-12">
					<table id="lessons_table" class="table table-striped table-hover">
						<thead>
							<th>Name</th>
							<th>Date</th>
							<th></th>
						</thead>
						<tr ng-repeat="lesson in lessons">
							<td><a href="/lessons/{{lesson.id}}">{{lesson.name}}</a></td>
							<td><a href="/lessons/{{lesson.id}}">{{lesson.date}}</a></td>
							<td><button ng-click="deleteLesson()" class="btn btn-xs btn-danger">Delete Lesson</button></td>
						</tr>
					</table>
				</div> <!-- bootstrap col-xs-12 -->
			</div> <!-- scrollTable -->
			</div>  <!-- row -->
		</div> <!-- col-md-4 -->
		<div ng-controller="LessonDetailCtrl">
		<div class="col-md-8">
				<div ng-show="checkID()" >
					<ul class="lesson_details_list">
						<li><h2>{{lesson.name}}</h2>
						<li><b>Current Average: </b>{{mean | number: 3}}</li>
						<li><b>Lesson Date:</b>{{lesson.date | date: 'MMMM d, y' }}</li>
						<li><b>Share this with students: </b> <a href="https://www.engaugenow.herokuapp.com/students/"{{lesson.url}}>https://www.engaugenow.herokuapp.com/students/{{lesson.url}}</a></li>
						<li><b>Access code: </b>{{lesson.access_code}}</li>
						<li><b>Limit (per hour): </b>{{lesson.limit}}</li>
					</ul>
				</div>  <!-- ng-show checkID -->
			</div> <!-- col-md-8 -->
			<div class="row">
					<div class="col-md-10">
						<div id="gauge" class="200x160px"></div>
					</div>
					<div class="col-md-2">
			 				<h3>All Scores:</h3>
								<span ng-init="scores"></span>
									<table>
										<thead>
											<tr>
												<th>Value</th>
												<th>Time</th>
												<th>Date</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="scoreobject in scores" class="table table-striped table-condensed">
												<td>{{scoreobject.score}}</td>
												<td>{{scoreobject.created_at | date: 'HH:mm:ss'}}</td>
												<td>{{scoreobject.created_at | date: 'MM/dd'}}</td>
											</tr>
										</tbody>
									</table>
			 		</div> <!-- col-md-2 -->
			</div> <!-- row -->
			</div> <!-- controller -->
		</div>
</div> <!-- bootstrap row -->