
	<% if notice %>
	  <p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
	  <p class="alert alert-danger"><%= alert %></p>
	<% end %>
<div class="container">
	<h1>Lessons</h1>

	<button class="btn btn-info">Create a New Lesson</button>

		<form ng-submit="addLesson()">
			<input type="text" ng-model="newLesson.name" class="form" placeholder="Lesson Name"></p>
			<input type="date" ng-model="newLesson.date" class="form" placeholder="Date of Lesson"></p>
			Expiration (optional): <br>
			<input type="datetime-local" ng-model="newLesson.expiration" class="form"></p>
			# Scores Allowed Per Hour<br>
				<select name="limit" ng-model="newLesson.limit">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="6">6</option>
					<option value="12">12</option>
					<option value="limitnone">no limit</option>
				</select></p>
				<button class="btn btn-primary">Save Lesson</button>
		</form>

		<h2>Past Lessons</h2>
			<span ng-repeat="lesson in lessons" class="lessons_list">
				<tr>
					<td><a href="/lessons/{{lesson.id}}">{{lesson.name}}</a></td>
					<td><button ng-click="deleteLesson()" >Delete</button></td>
				</tr>
			</span>
</div>