<h1>Current Lesson</h1>

<div id="current_avg">Current Average: {{mean | number: 3}}</div>

<ul class="lesson_details_list">
	<li><b>Lesson Name:</b> {{lesson.name}}</li>
	<li><b>Lesson Date:</b> {{lesson.date | date: 'MMMM d, y' }}</li>
	<li><b>Share this with students: </b> <a href="https://www.engaugenow.herokuapp.com/students/"{{lesson.url}}>https://www.engaugenow.herokuapp.com/students/{{lesson.url}}</a></li>
	<li><b>Access code: </b>{{lesson.access_code}}</li>
	<li><b>Student Score Limit (per hour)</b> {{lesson.limit}}</li>
	<li><b>Lesson Average (average all scores): {{lesson.current_avg}}</b></li>
	<li><b>All Scores:</b>
			<span ng-init="scores"></span>
			<table>
				<thead>
					<tr>
						<th>Value</th>
						<th>Time</th>
						<th>Date</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="scoreobject in scores" class="table table-striped">
						<td>{{scoreobject.score}}</td>
						<td>{{scoreobject.created_at | date: 'HH:mm'}}</td>
						<td>{{scoreobject.created_at | date: 'MM/dd'}}</td>
					</tr>
				</tbody>
			</table>
	<li><b>

</ul>

{{lesson.comments}}


<button ng-click="deleteLesson()">Delete Lesson</button>