views/engauge_templates/student.html.erb<br>

<h1>How Confident Are You About The Current Lesson Material? </h1>

<h2> ***** Clicakble SVG graphic woo ******* </h2>
	<p>On a scale of 0-5, 0 being the worst and 5 being the best, please rate how comfortable you feel with the current lesson material:</p>
	<div ng-controller="ScoresCtrl">
		<form ng-submit="addScore()">
			<input ng-model="newScore.score" type="number" step="0.1" min="0.0" max="5.0">
			<button>Submit</button>
		</form>

<h3><b>Current Lesson: </b>{{lesson.name}} </h3><br>
	<h3><b>Lesson Date: </b>{{lesson.date}} </h3><br>
	<h3><b>You May Submit Scores Until: </b>{{lesson.expiration}} </h3><br>
	<h3>You May Score Yourself <b>{{lesson.limit}}</b> Times Per Hour</h3><br>

<h3><b> Most Recent Score: </b>{{newScore}}</h3><br>
	<h3><b> Your Average Score This Lesson: </b># i don't know how to calculate this yet! </h3><br>
	<p>Score info: ####</p>
</div>