<div class="studentPage">
	<h1>How Comfortable Are You With The Current Lesson Material? </h1>

	<h2> ***** Clicakble SVG graphic woo ******* </h2>

		<div ng-controller="ScoresCtrl">
		<span  class="score_form">
			<h4>On a scale of 0-5, 0 being the worst and 5 being the best, please rate how comfortable you feel with the current lesson material:</h4>
			<form ng-submit="addScore()">
				<input ng-model="newScore.score" type="radio" value="1">1
				<input ng-model="newScore.score" type="radio" value="2">2
				<input ng-model="newScore.score" type="radio" value="3">3
				<input ng-model="newScore.score" type="radio" value="4">4
				<input ng-model="newScore.score" type="radio" value="5">5
				<button>Submit</button>
			</form>
		</span>
		<ul class="studentLesson">
			<li><h3>Current Lesson: </h3>{{lesson.name}} </li>
			<li><h3>Lesson Date: </h3>{{lesson.date}} </li>
			<li><h3>You May Submit Scores Until: </h3>{{lesson.expiration}} </li>
			<li><h3>Limit (per hour) <h3>{{lesson.limit}}</h3></li>
			<li><h3>Most Recent Score: </h3>{{lastScore}}<span ng-hide="lastScore">None</span></li>
		</ul>
	</div>
</div>