#navbar {
	background-color: #808080;
	height: 52px;
	width: 100%;
}

.navbar .navbar-default-fluid{
	margin: 0px;
	width: 100% !important;
	height: 100%;
	background-color: #808080;
	border: none;
}

.navbar-header .navbar-brand {
	font-family: 'Electrolize', sans-serif;
	font-size: 44px;
	color: #f80808;
	border: none;
}

.navbar_li a{
	color: #f8f8f8 !important;
	font-family: 'Electrolize', sans-serif !important;
	font-size: 20px;
	height: 100%;

}

.navbar li a:hover{
	color: #ED3300 !important;
}

.navbar-right li{
	list-style-type: none;
	text-decoration: none;
	display: inline;
}

.navbar_li:hover {
	background-color: #f808080;
	color: #ED3300;
}

.navbar-brand:hover {
	background-color: #f808080;
	color: black;
}

a {
	text-decoration: none;
	color: #ED3300;
}

a:hover{
	color: #ED3300;
}

.explain h3 {
	text-align: center;
	color: #ED3300;
}

.explain ol li {
	text-align: justify;
}

.container {
	width: 100%;
}


.form {
	border-radius: 5px;
	height: 30px;
	display: inline;
	margin: 5px;
}

.lessons_list {
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px;
	list-style-type: none;
	text-align: center;
}

ul {
	margin-left: 0px;
}

.lesson_details_list {
	margin-top: 20px;
	list-style-type: none;
	word-wrap: break-word;
}

#current_lesson_name {
	color: #f80808;
}

h1 {
	text-align: center;
	font-family: 'Electrolize', sans-serif;
}

tbody tr:nth-child(odd) {
   background-color: #ccc;
}

#student_row1 {
	padding-top: 5%;
}

#student_row1 {
	text-align: center;
}

#student_row2 {
}

.color {
	color: #f80808;
}

.score_form {
	text-align: center;
}

.score_form li {
	list-style-type: none;
}

.homepage {
	padding: 5%;
	text-align: center;
	font-family: 'Electrolize', sans-serif !important;
}

.homepage h1 {
	font-size: 80px !important;
	font-weight: bold !important;
}

.addLessonForm {
	display: inline;
}

#addLessonButton {
	margin-top: 1em;
	color: white;
	background-color: #404040;
	border: 1px solid #404040;
	font-size: 18px;

}

#addLessonButton:hover {
	background-color: #6E6E6E;
	border: 1px solid #6E6E6E;
	color: #ED3300;
}

#saveLessonButton {
	margin: 10px;
	background-color: #404040;
	color: white;
}

#saveLessonButton:hover {
	background-color: #6E6E6E;
	color: #ED3300;
}

#past_lessons_h3 {
}

.lessons_table {
	padding: 10px;
	margin: 10px;
}

.scrollTable {
	height: 150px;
	overflow: auto;
}

#gauge {
	width: 700px;
	height: 400px;
}

.studentPage h1 {
	font-family: 'Electrolize', sans-serif;
}

.studentPage h3 {
	font-family: 'Electrolize', sans-serif;
}

ul.studentLesson {
	margin-left: 15%;
}

.studentLesson li{
	list-style-type: none;
	padding-top: 1%;
}

form.addScore input{
	margin: 8px;
}

footer.navbar-default.navbar-fixed-bottom {
	background-color: #808080;
  color: #404040;
  text-align: center;
  padding: 1%
  font-family: Helvetica Neue;
 }
 
 footer.navbar-default.navbar-fixed-bottom p {
   margin:0;
 }

 ul.footer li{
 	display: inline;
 	padding-left: 40px;
 	color: #eee;
 }

 ul.footer a {
 	color: #eee;
 }

 .modal-footer {
 	text-align: center;
 }

 .alert {
 	margin-top: 1em;
 }
